.container1 {
	background-image: url("img/Techno background.jpg");
	background-size: 1350px;
	background-repeat: no-repeat;
	background-position: center;
}

div {
	border-width: 5px;
	padding: 30px;
}

.row4 {
	border-radius: 75px;
	border-style: solid;
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	opacity: 0.9;
	background-color: #000506;
	color: yellow;
	margin: 30px;
	text-align: center;
}

.row2 {
	text-align: center;
	margin: 10px;
}

.container2 {
	background-image: url("img/scorpion background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1350px;
}

.row3 {
	opacity: 0.9;
	background-color: #0C0C0C;
	font-family: 'Audiowide', cursive;
	border-radius: 75px;
	border-style: solid;
	color: yellow;
	font-size: 50px;
	margin: 60px;
	text-align: center;
}

.col-xs-6 {
	color: yellow;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

.row {
	text-align: center;
	margin: 30px;
}

.container3 {
	background-image: url("img/3d background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1350px;
}

.row5 {
	border-radius: 75px;
	border-style: solid;
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	margin: 60px;
	text-align: center;
}